

body {
	color: white;
	font-family: "Times New Roman", Times, serif;
	background-color: steelblue;
	margin-top: 80px;
	margin-bottom: 100px;
}


h1, h2 {
	text-align: center;
}

#footer {
	position: fixed;
	background-color: steelblue;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
}

.alt_col {
	background-color: mediumblue;
}

.here_col {
	background-color: navy;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown:hover .dropdown_content {
	display: block;
}

.dropdown:hover .drop_button {
	background-color: darkkhaki;
}

.drop_button {
	padding: 12px 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown_content {
	display: none;
	position: absolute;
	background-color: mediumblue;
	min-width: 200px;
	z-index: 1;
}

.dropdown_content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	color: white;
}
